@-webkit-keyframes slide-in-right {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible; }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }
@keyframes slide-in-right {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible; }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }
.slide-in-right {
  -webkit-animation-duration: .8s;
  animation-duration: .8s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: slide-in-right;
  animation-name: slide-in-right; }

.fade-in {
  opacity: 1;
  transition: opacity .5s ease-in-out; }

@media (max-width: 767px) {
  .page-base h1 {
    padding: 0 20px; } }

.page-content {
  overflow-x: hidden;
  padding-left: 0;
  padding-right: 0; }
  .page-content,
  .page-content p,
  .page-content ol,
  .page-content ul,
  .page-content li {
    font-family: 'Gotham SSm 4r','Gotham SSm A','Gotham SSm B';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.4; }
    @media (max-width: 979px) {
      .page-content,
      .page-content p,
      .page-content ol,
      .page-content ul,
      .page-content li {
        font-size: 16px; } }
  .page-content figure {
    margin: 0; }
  .page-content .callout {
    box-shadow: 0 0 0 0 transparent;
    padding: 20px 20px 30px; }
    .page-content .callout.callout-light,
    .page-content .callout.callout-light .fig-heading-bordered span {
      background-color: #fef7e1; }
    .page-content .callout.callout-lightest,
    .page-content .callout.callout-lightest .fig-heading-bordered span {
      background-color: #fff; }
    .page-content .callout .fig-heading-bordered span {
      background-color: #F6C319; }
  .page-content .table-cell-wrap {
    display: table-row; }
    @media (max-width: 767px) {
      .page-content .table-cell-wrap {
        display: block; } }
    .page-content .table-cell-wrap > * {
      display: table-cell;
      padding-left: 10px;
      padding-right: 10px;
      vertical-align: middle; }
      @media (max-width: 979px) {
        .page-content .table-cell-wrap > * {
          padding-left: 8px;
          padding-right: 8px; } }
      @media (max-width: 767px) {
        .page-content .table-cell-wrap > * {
          display: block;
          padding-left: 0;
          padding-right: 0; } }
    .page-content .table-cell-wrap > :first-child {
      padding-left: 0; }
    .page-content .table-cell-wrap > :last-child {
      padding-right: 0; }
    .page-content .table-cell-wrap.align-top > * {
      vertical-align: top; }
    .page-content .table-cell-wrap .vertical-divider {
      background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAFElEQVQImWNgYGD4D8VwgCGAHwAA1W4D/S31AcsAAAAASUVORK5CYII=") center center repeat-y;
      height: 100%;
      width: 2px; }
      @media (max-width: 767px) {
        .page-content .table-cell-wrap .vertical-divider {
          display: none; } }
  .page-content .span20percent {
    width: 172px; }
    @media (min-width: 1200px) {
      .page-content .span20percent {
        width: 210px; } }
    @media (max-width: 979px) {
      .page-content .span20percent {
        width: 128.8px; } }
    @media (max-width: 767px) {
      .page-content .span20percent {
        width: 100%; } }
  .page-content .ucf-gold {
    color: #F6C319; }
  .page-content .green {
    color: #49b753; }
  .page-content .gray {
    color: #929497; }
  .page-content .white {
    color: #fff; }
  .page-content .red {
    color: #d6272f; }
  .page-content .text-light {
    -moz-osx-font-smoothing: auto;
    -webkit-font-smoothing: auto;
    font-family: 'Gotham SSm 2r','Gotham SSm A','Gotham SSm B';
    font-style: normal;
    font-weight: 200; }
  .page-content .text-heavy {
    -moz-osx-font-smoothing: auto;
    -webkit-font-smoothing: auto;
    font-family: 'Gotham SSm 8r', 'Gotham SSm A', 'Gotham SSm B';
    font-style: normal;
    font-weight: 800; }
  .page-content .text-uppercase {
    text-transform: uppercase; }
  @media (max-width: 767px) {
    .page-content .text-center-mobile {
      text-align: center; } }
  .page-content .sr-only {
    border: 0 none;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px; }
  .page-content .fig-heading,
  .page-content .fig-heading-big,
  .page-content .fig-label,
  .page-content .fig-label-big,
  .page-content .fig-label-bigger,
  .page-content .number,
  .page-content .number-small,
  .page-content .number-smaller {
    -moz-osx-font-smoothing: auto;
    -webkit-font-smoothing: auto;
    font-family: 'Gotham SSm 8r', 'Gotham SSm A', 'Gotham SSm B';
    font-style: normal;
    font-weight: 800; }
  .page-content .fig-heading {
    font-size: 24px; }
    @media (max-width: 979px) {
      .page-content .fig-heading {
        font-size: 22px; } }
  .page-content .fig-heading-big {
    font-size: 36px; }
    @media (max-width: 979px) {
      .page-content .fig-heading-big {
        font-size: 30px; } }
  .page-content .fig-heading-baseline-push {
    margin-top: 21px; }
  .page-content .fig-heading-bordered {
    font-size: 28px;
    line-height: 1;
    position: relative; }
    @media (max-width: 979px) {
      .page-content .fig-heading-bordered {
        font-size: 22px; } }
    @media (max-width: 767px) {
      .page-content .fig-heading-bordered {
        border-bottom: 2px dotted #000;
        padding-bottom: 2px; } }
    .page-content .fig-heading-bordered:before {
      border-bottom: 4px dotted #000;
      bottom: 0;
      content: '';
      display: block;
      height: 14px;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      width: 100%;
      z-index: 1; }
      @media (max-width: 767px) {
        .page-content .fig-heading-bordered:before {
          display: none; } }
    .page-content .fig-heading-bordered span {
      background-color: #fff;
      padding: 0 10px;
      position: relative;
      z-index: 2; }
      @media (max-width: 767px) {
        .page-content .fig-heading-bordered span {
          background-color: transparent !important; } }
  .page-content .fig-label {
    font-size: 20px;
    line-height: 1.2; }
    @media (max-width: 979px) {
      .page-content .fig-label {
        font-size: 18px; } }
  .page-content .fig-label-big {
    font-size: 28px;
    line-height: 1; }
    @media (max-width: 979px) {
      .page-content .fig-label-big {
        font-size: 22px; } }
  .page-content .fig-label-bigger {
    font-size: 34px;
    line-height: 1; }
    @media (min-width: 1200px) {
      .page-content .fig-label-bigger {
        font-size: 40px; } }
    @media (max-width: 979px) {
      .page-content .fig-label-bigger {
        font-size: 24px; } }
  .page-content .fig-details {
    font-size: 14px;
    margin-top: 10px; }
  .page-content .fig-details-list {
    list-style-type: none;
    margin: 8px 0; }
    .page-content .fig-details-list li {
      display: block;
      font-size: 16px;
      line-height: 1.2;
      margin-bottom: 6px; }
      @media (max-width: 979px) {
        .page-content .fig-details-list li {
          font-size: 14px; } }
  .page-content .number {
    font-size: 75px;
    letter-spacing: -.04em;
    line-height: .85; }
    @media (min-width: 1200px) {
      .page-content .number {
        font-size: 85px; } }
    @media (max-width: 979px) {
      .page-content .number {
        font-size: 58px; } }
  .page-content .number-small {
    font-size: 60px;
    letter-spacing: -.03em;
    line-height: .95; }
    @media (min-width: 1200px) {
      .page-content .number-small {
        font-size: 65px; } }
    @media (max-width: 979px) {
      .page-content .number-small {
        font-size: 45px; } }
  .page-content .number-smaller {
    font-size: 36px;
    letter-spacing: -.02em;
    line-height: 1.1; }
  .page-content .number-denomination {
    -moz-osx-font-smoothing: auto;
    -webkit-font-smoothing: auto;
    font-family: 'Gotham SSm 2r','Gotham SSm A','Gotham SSm B';
    font-style: normal;
    font-weight: 200;
    font-size: 26px;
    letter-spacing: .08em; }
    @media (max-width: 979px) {
      .page-content .number-denomination {
        font-size: 22px; } }
  .page-content .number-denomination-small {
    -moz-osx-font-smoothing: auto;
    -webkit-font-smoothing: auto;
    font-family: 'Gotham SSm 2r','Gotham SSm A','Gotham SSm B';
    font-style: normal;
    font-weight: 200;
    font-size: 22px;
    letter-spacing: .08em; }
    @media (max-width: 979px) {
      .page-content .number-denomination-small {
        font-size: 18px; } }
  .page-content .dollar-box {
    margin-bottom: 10px;
    overflow: hidden;
    position: relative; }
    .page-content .dollar-box .dollar-box-inner {
      background-color: #fff;
      border: 4px solid #F6C319;
      bottom: 0;
      box-sizing: border-box;
      height: 100%;
      left: 0;
      padding: 20px;
      position: relative;
      width: 100%;
      z-index: 1; }
    .page-content .dollar-box.dollar-box-inverse .dollar-box-inner {
      background-color: #49b753; }
  .page-content .next-step.hidden {
    opacity: 0; }
  .page-content .facilities-icon {
    margin-bottom: 15px; }
    @media (max-width: 767px) {
      .page-content .facilities-icon {
        max-width: 180px; } }
