$ucf-gold: #F6C319;
$green: #49b753;
$gray: #929497;
$white: #fff;
$red: #d6272f;
$stylized-border: 4px dotted #000;
$stylized-border-light: 2px dotted #000;
$stylized-border-light-bg: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAFElEQVQImWNgYGD4D8VwgCGAHwAA1W4D/S31AcsAAAAASUVORK5CYII=');

@mixin no-font-smoothing() {
  -moz-osx-font-smoothing: auto;
  -webkit-font-smoothing: auto;
}

@mixin gotham-xlight() {
  @include no-font-smoothing();
  font-family: 'Gotham SSm 2r','Gotham SSm A','Gotham SSm B';
  font-style: normal;
  font-weight: 200;
}

@mixin gotham-bold() {
  @include no-font-smoothing();
  font-family: 'Gotham SSm 7r', 'Gotham SSm A', 'Gotham SSm B';
  font-style: normal;
  font-weight: 700;
}

@mixin gotham-black() {
  @include no-font-smoothing();
  font-family: 'Gotham SSm 8r', 'Gotham SSm A', 'Gotham SSm B';
  font-style: normal;
  font-weight: 800;
}

@mixin animated() {
  -webkit-animation-duration: .8s;
  animation-duration: .8s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes slide-in-right {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slide-in-right {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.slide-in-right {
  @include animated();
  -webkit-animation-name: slide-in-right;
  animation-name: slide-in-right;
}

.fade-in {
  opacity: 1;
  transition: opacity .5s ease-in-out;
}


.page-base h1 {
  @media (max-width: 767px) {
    padding: 0 20px;
  }
}

.page-content {
  overflow-x: hidden;
  padding-left: 0;
  padding-right: 0;

  &,
  p,
  ol,
  ul,
  li {
    font-family: 'Gotham SSm 4r','Gotham SSm A','Gotham SSm B';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.4;

    @media (max-width: 979px) {
      font-size: 16px;
    }
  }

  figure {
    margin: 0;
  }

  // Callouts, utils
  .callout {
    box-shadow: 0 0 0 0 transparent;
    padding: 20px 20px 30px;

    &.callout-light {
      &,
      .fig-heading-bordered span {
        background-color: #fef7e1;
      }
    }

    &.callout-lightest {
      &,
      .fig-heading-bordered span {
        background-color: $white;
      }
    }

    .fig-heading-bordered span {
      background-color: $ucf-gold;
    }
  }

  .table-cell-wrap {
    display: table;

    @media (max-width: 767px) {
      display: block;
    }

    > * {
      display: table-cell;
      padding-left: 10px;
      padding-right: 10px;
      vertical-align: middle;

      @media (max-width: 979px) {
        padding-left: 8px;
        padding-right: 8px;
      }

      @media (max-width: 767px) {
        display: block;
        padding-left: 0;
        padding-right: 0;
      }
    }

    > :first-child {
      padding-left: 0;
    }

    > :last-child {
      padding-right: 0;
    }

    &.align-top {
      > * {
        vertical-align: top;
      }
    }

    .vertical-divider {
      background: $stylized-border-light-bg center center repeat-y;
      height: 100%;
      width: 2px;

      @media (max-width: 767px) {
        display: none;
      }
    }
  }

  .span20percent {
    width: 172px;

    @media (min-width: 1200px) {
      width: 210px;
    }

    @media (max-width: 979px) {
      width: 128.8px;
    }

    @media (max-width: 767px) {
      width: 100%;
    }
  }

  .center-block {
    margin-left: auto;
    margin-right: auto;
  }

  // Colors
  .ucf-gold {
    color: $ucf-gold;
  }

  .green {
    color: $green;
  }

  .gray {
    color: $gray;
  }

  .white {
    color: $white;
  }

  .red {
    color: $red;
  }

  // Generic text styles
  .text-light {
    @include gotham-xlight();
  }

  .text-heavy {
    @include gotham-black();
  }

  .text-uppercase {
    text-transform: uppercase;
  }

  .text-center-mobile {
    @media (max-width: 767px) {
      text-align: center;
    }
  }

  .sr-only {
    border: 0 none;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  // Detailed text styles
  .fig-heading,
  .fig-heading-big,
  .fig-label,
  .fig-label-big,
  .fig-label-bigger,
  .fig-label-small,
  .number,
  .number-small,
  .number-smaller {
    @include gotham-black();
  }

  .fig-heading {
    font-size: 24px;

    @media (max-width: 979px) {
      font-size: 22px;
    }
  }

  .fig-heading-big {
    font-size: 36px;

    @media (max-width: 979px) {
      font-size: 30px;
    }
  }

  .fig-heading-baseline-push {
    margin-top: 21px;
  }

  .fig-heading-bordered {
    font-size: 28px;
    line-height: 1;
    position: relative;

    @media (max-width: 979px) {
      font-size: 22px;
    }

    @media (max-width: 767px) {
      border-bottom: $stylized-border-light;
      padding-bottom: 2px;
    }

    &:before {
      border-bottom: $stylized-border;
      bottom: 0;
      content: '';
      display: block;
      height: 14px; // 1/2 of .fig-heading-bordered line height
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      width: 100%;
      z-index: 1;

      @media (max-width: 767px) {
        display: none;
      }
    }

    span {
      background-color: $white;
      padding: 0 10px;
      position: relative;
      z-index: 2;

      @media (max-width: 767px) {
        background-color: transparent !important; // necessary for greater specificity inside of callouts
      }
    }
  }

  .fig-label {
    font-size: 20px;
    line-height: 1.2;

    @media (max-width: 979px) {
      font-size: 18px;
    }
  }

  .fig-label-big {
    font-size: 28px;
    line-height: 1;

    @media (max-width: 979px) {
      font-size: 22px;
    }
  }

  .fig-label-bigger {
    font-size: 34px;
    line-height: 1;

    @media (min-width: 1200px) {
      font-size: 40px;
    }

    @media (max-width: 979px) {
      font-size: 24px;
    }
  }

  .fig-label-small {
    font-size: 18px;
    line-height: 1.1;
  }

  .fig-details {
    font-size: 14px;
    margin-top: 10px;
  }

  .fig-details-list {
    list-style-type: none;
    margin: 8px 0;

    li {
      display: block;
      font-size: 16px;
      line-height: 1.2;
      margin-bottom: 6px;

      @media (max-width: 979px) {
        font-size: 14px;
      }
    }
  }

  .number {
    font-size: 75px;
    letter-spacing: -.04em;
    line-height: .85;

    @media (min-width: 1200px) {
      font-size: 85px;
    }

    @media (max-width: 979px) {
      font-size: 58px;
    }
  }

  .number-small {
    font-size: 60px;
    letter-spacing: -.03em;
    line-height: .95;

    @media (min-width: 1200px) {
      font-size: 65px;
    }

    @media (max-width: 979px) {
      font-size: 45px;
    }
  }

  .number-smaller {
    font-size: 36px;
    letter-spacing: -.02em;
    line-height: 1.1;
  }

  .number-denomination {
    @include gotham-xlight();
    font-size: 26px;
    letter-spacing: .08em;

    @media (max-width: 979px) {
      font-size: 22px;
    }
  }

  .number-denomination-small {
    @include gotham-xlight();
    font-size: 22px;
    letter-spacing: .08em;

    @media (max-width: 979px) {
      font-size: 18px;
    }
  }

  .dollar-box {
    margin-bottom: 10px;
    overflow: hidden;
    position: relative;

    .dollar-box-inner {
      background-color: $white;
      border: 4px solid $ucf-gold;
      bottom: 0;
      box-sizing: border-box;
      height: 100%;
      left: 0;
      padding: 20px;
      position: relative;
      width: 100%;
      z-index: 1;
    }

    &.dollar-box-inverse .dollar-box-inner {
      background-color: $green;
    }
  }

  .next-step.hidden {
    opacity: 0;
  }

  // Images/media
  .facilities-icon {
    margin-bottom: 15px;
    max-width: 150px;
    width: 100%;

    @media (min-width: 1200px) {
      max-width: 180px;
    }
  }

}
