// Variable overrides
@import 'variables';

// Combine vendor assets and our theme:
@import './bootstrap-sass/lib/bootstrap';
@import './bootstrap-sass/lib/responsive';

// Theme imports
@import 'mixins';

@import 'views';
@import 'type';
@import 'parallax';
@import 'shortcodes';

// Page imports
@import 'pages/404';
